  body {
    background-color: #EAF6F6;
    background-image: url(https://ichef.bbci.co.uk/news/976/cpsprodpb/1675A/production/_113249919_hi061718491.jpg);
  }

  h1{
    color: #66bfbf;
     font-style: italic;
  }

  h3{
    color: #ffcb91;
  }
  hr {
    border-style: dotted none none none;
    border-color: grey;
    border-width: 5px;
    width: 10%;
  }
img{
  border-radius: 8px;
  border-style: dashed;
}
